<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
<body>
    <div class="main-content">
    <p>{{>header}}</p>
    <img class="portrait" src="/img/profile.jpg" alt="Profile">
    <h2><p>Hello World!</p></h2>
    <h2><p>I'm Siddhant, a first-year CS graduate student at The University of Texas at Dallas.</p></h2>
    <h2><p>This site uses data from mapbox.com and weatherstack.com</p></h2>
    </div>
    
    {{>footer}}
</body>
</html>